*
  box-sizing: border-box
body 
  +reg
img 
  max-width: 100%    
.container
  width: 1178px
  margin: auto

.button 
  border-radius: 10px
  background-color: #204256
  border: none
  color: #fff
  padding: 20px 55px 
  outline: none
  +bold
  border: 1.5px solid #fff
  &:hover 
    background-color: lighten(#204256, 30%)
    cursor: pointer 
.section
  padding-top: 74px
  &-title
    font-size: 24px
    text-align: center 
    +bold
  &-subtitle
    display: block 
    font-size: 16px  
.input 
  border: 1px solid grey
  padding: 23px 28px 
  font-size: 15px
  border-radius: 10px 
  outline: none 
.arrows 
  &__left, &__right 
    &:hover
      cursor: pointer
.success
  +bold
b
  +bold    

@media (max-width: 1200px)  
  .container 
    padding: 0 5px 0
    max-width: 1100px
    width: 100%
@media (max-width: 768px)  
  .container 
    padding: 0 10px 0
    max-width: 670px
    width: 100% 
@media (max-width: 576px)  
  .container 
    padding: 0 10px 0
    max-width: 470px
    width: 100% 
  