.advantage
  margin-bottom: 100px
  &-block 
    display: block
    text-align: center
    margin-top: 100px
  &-text 
    text-align: justify
    margin-top: 50px
  &-title 
    line-height: 55px
    margin-bottom: 30px
    +bold

.sly 
  display: none
  text-align: justify
.show 
  cursor: pointer
  


@media (max-width: 1200px) 
  .advantage
    width: 100%    
    &-text 
      text-align: justify
      margin-top: 50px
@media (max-width: 578px)
  .advantage
    margin-bottom: 20px
    &-block
      margin-top: 20px
    &-title
      font-size: 18px
      
      
