.form

  &-block
    display: block
    text-align: center
    margin: auto
    width: 100%
    margin-bottom: 100px
    border: 1px solid grey
  &-title
    margin-bottom: 30px
    margin-top: 50px
    font-size: 22px
    line-height: 33px
    +bold 
    color: black
  &-subtitle
    display: block  
    margin-bottom: 50px
    font-size: 16px 
  &__description
    margin: 50px
    display: block   
    text-align: center
  &__form
    display: flex
    flex-direction: column   
    text-align: center
    position: relative 

  &__input
    display: block
    margin: auto
    width: 100%
    max-width: 500px
    margin-bottom: 20px
  &__button
    display: block
    margin-top: 15px
    height: 70px
    width: 100%
    max-width: 500px 
    margin: auto
    margin-bottom: 30px 
  &-text
    &__item
      margin-bottom: 50px  

#form-name-error
  color: red 
  position: absolute
  top: 244px
  left: 340px
  font-size: 14px
#form-phone-error
  color: red 
  position: absolute
  top: 323px
  left: 335px
  font-size: 14px