.selection
  display: block
  margin-top: 70px
  &-block
    display: block
    text-align: center
    margin: auto
    width: 90%
    margin-bottom: 100px
  &-text 
    line-height: 1.5
  &-title
    margin: 40px
  &-subtitle
    margin: 50px 
    font-size: 20px   
  &-form 
    background-color: #4DA9E3
    display: flex
    flex-direction: column   
    text-align: center
    position: relative
    border: 1px solid #000
  &__input
    display: block
    margin: auto
    width: 100%
    max-width: 500px
    margin-bottom: 20px
  &-button
    display: block
    margin-top: 15px
    height: 70px
    width: 100%
    max-width: 500px 
    margin: auto
    margin-top: 15px
    margin-bottom: 30px 
    
.form
  &-title
    margin-bottom: 20px
    margin-top: 50px
    font-size: 22px
    line-height: 33px
    +bold 
    color: black
  &-subtitle
    display: block  
    margin-bottom: 30px
    font-size: 16px 
  &-description
    margin: 50px
    display: block   
    text-align: center
#selection-name-error
  color: #000
  font-size: 14px
#selection-phone-error
  color: #000
  font-size: 14px


table 
  border-collapse: collapse
  width: 100%
  position: relative
  margin-bottom: 100px
thead
  text-align: left

th, td 
  padding: 10px
  background-color: #fff


th 
  position: sticky
  top: 0
  background-color: #204256
  color: #fff


td 
  border-bottom: 1px solid #dddddd 
  
@media (max-width: 1200px) 
  .selection
    &-block
      width: 90%
    &__input
      margin-bottom: 9px
    &-button
      font-size: 18px  
    &-subtitle
      margin: 30px                    
  .form
    &-title     
    font-size: 20px
    &-subtitle
      margin-bottom: 30px 
    &-description
      font-size: 
 
        
@media (max-width: 880px)  
  .selection
    &-block
      flex-direction: column   
    &-form
      margin-top: 50px  

@media (max-width: 576px)  
  .selection
    padding-top: 0
    margin: 0 auto
    &-text
      font-size: 
      
    &-form
      margin-top: 5px
    &-title    
      font-size: 24px
      line-height: 25px
      margin-bottom: 15px
    &-subtitle
      font-size: 20px
      margin-bottom: 30px
    &-description
      font-size: 
  
    &__input
      margin-bottom: 9px
    &-button
      margin-top: 0
      font-size: 14px 
      margin-bottom: 26px    
                
  .form
    &-title    
      font-size: 18px
      line-height: 25px
      margin-bottom: 25px
    &-subtitle
      font-size: 
      margin-bottom: 32px
    &-description
      font-size: 
      line-height: 24px
  table
    margin-bottom: 50px
     
  #selection-name-error 
    font-size: 12px
  #selection-phone-error 
    font-size: 12px

@media (max-width: 325px)
  .form
    &-title    
      font-size: 14px  
    &-subtitle
      font-size: 12px  
 
